
<section class="services">
    <h2>Nossos Serviços</h2>
    <div class="service-list">
      <div class="service-card">
        <img src="assets/f48478a0fc251d2e9593d9836943de5c.jpg" alt="Serviço 1" />
        <h3>Desenvolvimento Web</h3>
        <p>Criação de sites responsivos e personalizados para sua empresa.</p>
        <a href="#" class="btn">Saiba Mais</a>
      </div>
      <div class="service-card">
        <img src="assets/png-transparent-business-information-technology-consulting-management-consultant-business-service-people-information-technology.png" alt="Serviço 2" />
        <h3>Consultoria em TI</h3>
        <p>Elevando sua empresa com uma gestão de TI eficaz e centrada em resultados.</p>
        <a href="#" class="btn">Saiba Mais</a>
      </div>
      <div class="service-card">
        <img src="assets/320--v112251.jpg" alt="Serviço 2" />
        <h3>Análise de Dados</h3>
        <p>Transformando dados da sua empresa em insights valiosos para decisões estratégicas.</p>
        <a href="#" class="btn">Saiba Mais</a>
      </div>
      <!-- Adicione mais serviços conforme necessário -->
    </div>
  </section>
  