
<div class="portfolio-container">
    <h1 class="portfolio-title">Portfólio</h1>
    <p class="portfolio-intro">
      Aqui estão alguns projetos nos quais trabalhei. Eles mostram meu conhecimento em desenvolvimento web e a capacidade de criar soluções funcionais e escaláveis.
    </p>
  
    <div class="project-cards">
      <mat-card class="project-card">
        <mat-card-title>Doe+</mat-card-title>
        <mat-card-content>
          <p>Aplicativo Android para doações de produtos. Feito com Java e Firebase.</p>
        </mat-card-content>
        <mat-card-actions>
          <a href="#" target="_blank" mat-button>Ver Projeto</a>
        </mat-card-actions>
      </mat-card>
  
      <mat-card class="project-card">
        <mat-card-title>Sistema de Inventário RFID</mat-card-title>
        <mat-card-content>
          <p>Projeto desenvolvido como voluntário no Parque Tecnológico de Sorocaba.</p>
        </mat-card-content>
      </mat-card>
  
      <mat-card class="project-card">
        <mat-card-title>API REST em .NET</mat-card-title>
        <mat-card-content>
          <p>Desenvolvi uma API completa utilizando ASP.NET Core para integração de sistemas.</p>
        </mat-card-content>
        <mat-card-actions>
          <a href="#" target="_blank" mat-button>Ver Código</a>
        </mat-card-actions>
      </mat-card>
  
      <mat-card class="project-card">
        <mat-card-title>Sistema de Gestão Web</mat-card-title>
        <mat-card-content>
          <p>Criação de um sistema de gestão web utilizando Angular e SQL Server.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
