@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import 'node_modules/@angular/material/core/theming/_theming.scss';
@import '@angular/material/core/theming/_all-theme';



@include mat-core();

$Bitecode-primary: mat-palette($mat-indigo);
$Bitecode-accent: mat-palette($mat-pink, A200, A100, A400);
$Bitecode-warn: mat-palette($mat-red);


$Bitecode-theme: mat-light-theme((
  color: (
    primary: $Bitecode-primary,
    accent: $Bitecode-accent,
    warn: $Bitecode-warn,
  )
));

@include angular-material-theme($Bitecode-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
