
<footer class="footer">
    <div class="footer-content">
      <p>&copy; {{ currentYear }} Bitecode. Todos os direitos reservados.</p>
      <div class="social-links">
        <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">Facebook</a>
        <a href="https://www.instagram.com/" target="_blank" aria-label="Instagram">Instagram</a>
        <a href="https://www.linkedin.com/in/andersistemasweb/" target="_blank" aria-label="LinkedIn">LinkedIn</a>
        
      </div>
    </div>
  </footer>
  